<div class="container">
<h1>Lists</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>List Name</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.event.name %></td>
        
        <!-- THIS IS FOR TOUR MANAGERS ONLY -->
        <% if can? :manage, User %>
        <td>
        <div class="btn-group">
          <%= button_to "Add Guests", users_path, :class => "btn btn-xs btn-primary", :method => :get %>
          </div>
        </td>
        <% end %>
        <td><%= link_to 'Show', list %><br>

        <!-- modal goes here -->






        <!-- THIS IS FOR ADMINS ONLY -->
        <% if can? :manage, :all %>
          <%= link_to 'Edit', edit_list_path(list) %><br>
          <%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :manage, List %>
  <div class="btn-group">
    <%= button_to "New List", new_list_path, :class => "btn btn-default btn-xs", :method => :get %>
  </div>
<% end %>
</div>
