<div class="container">

<h1><%= @list.name %></h1>

<p>
  <strong>Venue:</strong>
  <%= @list.venue.name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @list.event.name %>
</p>

<p>
  <strong>Performer:</strong>
  <%= @list.performer.name %>
</p>

<p>
  <strong>Guests:</strong>


    <%= @list.guests.each do |guest| %>
  <div class="checkbox">
    <label>
      <h4><input type="checkbox"> <%= guest.name %> +<%= guest.addons %></h4>
    </label>
    <br>
  </div>
    <% end %>
</p>


<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
</div>