<h1>Listing guests_lists</h1>

<table>
  <thead>
    <tr>
      <th>Guest</th>
      <th>List</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guests_lists.each do |guests_list| %>
      <tr>
        <td><%= guests_list.guest_id %></td>
        <td><%= guests_list.list_id %></td>
        <td><%= link_to 'Show', guests_list %></td>
        <td><%= link_to 'Edit', edit_guests_list_path(guests_list) %></td>
        <td><%= link_to 'Destroy', guests_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guests list', new_guests_list_path %>
