<p id="notice"><%= notice %></p>

<p>
  <strong>Guest:</strong>
  <%= @guests_list.guest_id %>
</p>

<p>
  <strong>List:</strong>
  <%= @guests_list.list_id %>
</p>

<%= link_to 'Edit', edit_guests_list_path(@guests_list) %> |
<%= link_to 'Back', guests_lists_path %>
