<h4>Event:<br>
  <strong><%= @event_name %></strong> on <%= @event_date %><br><br>
  Guest Name:<br>
  <strong><%= @guest_name %><%= @guest_photo %></strong><br><br>
</h4>

<% #TODO: make sure that the venue is listed on the new eventguest page; if the venue isn't in the event name, then it is missing some key information for tour managers as they add guests %>

<%= simple_form_for(@eventguest) do |f| %>
  <%= f.error_notification %>

    <div class="form-inputs">
    <%= f.hidden_field :event_id, :value => params[:event_id] %>
    <%= f.hidden_field :user_id, :value => params[:user_id] %>
    <%= f.hidden_field :business_user, value: current_user.id %>
    <%= f.association :type, hint: 'VIP, GA, etc...' %>
    <%= f.input :extras, collection: 0...11, hint: "+1, +2, etc..." %>
    <%= f.input :attended %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
