<!-- ALL FACEBOOK FANS WILL SEE THE STUFF BELOW -->
<% if user_signed_in? %>
<% if cannot? :manage, [User, Eventguest]  %>
<div class="container">
<h3>Hi. I'm a Facebook user</h3>

<div class="row">
  <div class="span4">
    <div class="thumbnail">
      <img src="<%= current_user.picture %>" style="float: left;margin: 5px;">
      <h4><%= current_user.profile["name"] %></h4>
    </div>
  </div>
</div>

<% end %>
</div>
<% end %>


<!-- VENUE/EVENT MANAGER STUFF BELOW -->
<% if can? :manage, Eventguest %>
<div class="container">
	<h3><% if user_signed_in? %><%= @user.name %>, <% end %>What would you like to do?</h3>
	<div class="btn-group">
		<% if can? :manage, Eventguest %>
		<%= button_to "Create New List", new_eventguests_path, :class => "btn btn-sm btn-primary", :method => :get %>
		<br>
		<%= button_to "View Event Guests", eventguests_path, :class => "btn btn-sm btn-primary", :method => :get %>
		<br>
		<%= button_to "Check In Guests", eventguests_path, :class => "btn btn-sm btn-primary", :method => :get %>
		<% end %>
		<br>
<% end %>

<!-- TOUR MANAGER STUFF BELOW -->


	<% if can? :manage, User %>
		<%= button_to "View Event Guests", eventguests_path, :class => "btn btn-sm btn-primary", :method => :get %>
	<% end %>
	</div>
</div>