<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue_id %>
</p>

<p>
  <strong>Performer:</strong>
  <%= @event.performer_id %>
</p>

<table class="table table-striped table-hover">
 <% @guests.each do |eventguest| %>
      <tr>
        <td><%= eventguest.user.name %></td>
      </tr>
      <% end %>
</table>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</div>
