<%# add navigation links to this file %>
<% if user_signed_in? %>
    <li><%= link_to 'Edit account', edit_user_registration_path %></li>

    <li><%= link_to 'Events', events_path %></li>

    <% if can? :manage, :all %>
      
      <li><%= link_to 'Venues', venues_path %></li>
      <li><%= link_to 'Performers', performers_path %></li>
      <li><%= link_to 'Types', types_path %></li>
    <% end %>

    <% if can? :manage, :all %>
      
      <li><%= link_to 'Event Guests', eventguests_path %></li>
      <% end %>
        <% if can? :manage, :all %>
  <% if user_signed_in? %>
    <li><%= link_to 'Guests', users_path %></li>
  <% end %>
<% end %>


    <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
  <% else %>
    <li><%= link_to 'Login', new_user_session_path %></li>
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <li><%= link_to 'Sign in with Facebook', user_omniauth_authorize_path(:facebook) %>
  <% end %>
  

